[submodule "programs/neovim"]
	path = programs/neovim
	url = https://github.com/neovim/neovim.git
[submodule "programs/base16-shell"]
	path = programs/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim-repeat"]
	path = .vim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-unimpaired"]
	path = .vim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-commentary"]
	path = .vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-surround"]
	path = .vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-dispatch"]
	path = .vim/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
