[submodule "programs/neovim"]
	path = programs/neovim
	url = https://github.com/neovim/neovim.git
[submodule "programs/base16-shell"]
	path = programs/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim-repeat"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-unimpaired"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-commentary"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-surround"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-dispatch"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-pathogen"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "base16-vim"]
	path = config/vim/files/.vim/pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim-dirvish"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "undotree"]
	path = config/vim/files/.vim/pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "nvim-lspconfig"]
	path = config/vim/files/.vim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "completion-nvim"]
	path = config/vim/files/.vim/pack/bundle/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "vim-fugitive"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "fzf"]
	path = config/vim/files/.vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fzf-vim"]
	path = config/vim/files/.vim/pack/bundle/opt/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "fzf-checkout"]
	path = config/vim/files/.vim/pack/bundle/opt/fzf-checkout
	url = https://github.com/stsewd/fzf-checkout.vim.git
[submodule "vim-fetch"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch.git
[submodule "vim-projectionist"]
	path = config/vim/files/.vim/pack/bundle/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "corpus"]
	path = config/vim/files/.vim/pack/bundle/opt/corpus
	url = https://github.com/wincent/corpus.git
[submodule "terminus"]
	path = config/vim/files/.vim/pack/bundle/opt/terminus
	url = https://github.com/wincent/terminus.git
[submodule "pinnacle"]
	path = config/vim/files/.vim/pack/bundle/opt/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "command-t"]
	path = config/vim/files/.vim/pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t.git
[submodule "loupe"]
	path = config/vim/files/.vim/pack/bundle/opt/loupe
	url = https://github.com/wincent/loupe.git
[submodule "ferret"]
	path = config/vim/files/.vim/pack/bundle/opt/ferret
	url = https://github.com/wincent/ferret.git
